@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
    /* background-color: #bfc1c8; */
}

@media (max-width: 1350px) {
    /* .hat {
        display: flex;
        justify-content: center;
        margin-left: 35px;
        max-width: 95%;
    } */
}

@media (max-width: 1230px) {
    /* .hat {
        margin-left: 45px;
    }
     */
}
@media (max-width: 1170px) {
    /* html:not(.hero) {
        margin-left: 150px;
    } */
}
@media (max-width: 600px) {
    
}
@media (max-width: 300px) {
    
}











#boss {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.hat {
    display: block;
    padding: 3% 0;
    background-color:#1e202b;
}

.banner {
    cursor: pointer;
    display: flex;
    z-index: 1001;
}

.banner-text {
    color: white;
}

.logo{
    margin-right: 15px;
}

.company-name {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 18px;
    height: 24px;
}
.company-description {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #bfc1c8;
}
.nav-bar {
    display: flex;
    font-family: "Roboto",'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: auto;
    text-align: center;
    color: #fff;
}


.menu-item {
    cursor: pointer;
    border: 2px solid transparent;
    color: white;
    height: 31px;
    text-decoration: none;
    transition: .2s ease;


    margin-right: 15px;
    padding-top: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.menu-item::after {
    content: " ";
    clear: both;
    display:block;
    overflow: hidden;
}
.menu-item:hover {
    text-decoration: none;
    color: #009ad8;
    border: #009ad8 solid;
    border-radius: 20px;
}
.home {
    width: 90px;
    color: #009ad8;
    border: #009ad8 solid;
    border-radius: 30px;
}

.nav-elements {
    display: flex;
    margin: 0px auto;
    width: 1170px;
}

.hero {
    background-size: cover;
    background-image: url("images/banner.png");
    height: 350px;
}

.search-container-1 {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin: 0px auto;
    padding: 70px 0px;
  }
  .search-container-2 {
    display: flex;
    margin: 0px auto;
  }

  #location-search-large {
    width: 1140px; /* Adjusted size for the large form */
  }
  
  #location-search-small {
    width: 750px; /* Original size retained for the small form */
  }
  
  #location-search-large,
  #location-search-small {
    display: flex;
    color: white;
    font-family: "Roboto", inherit;
    font-weight: 500;
    font-size: 15px;
    background-color: #1e202b;
    padding: 20px 50px 20px 20px;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 100px;
  }
    #location-search-large:focus {
        border: 3px solid #333645;
        transition: 0.2s border;
    }
  
  #submit-button,
  #submit-small {
    cursor: pointer;
    background-color: #009ad8;
    color: white;
    width: 105px;
    height: 47px;
    outline: none;
    margin: 5px 0;
    border-radius: 100px;
    position: relative;


    border: none;
    outline: none;
    margin-bottom: 70px;
  }

  #submit-button {
    margin-left: 1030px;
  }

  #submit-small {
    margin-left: 640px;
  }
/* FORECAST TABLE */
.forecast-table-wrapper {
    display: flex;
    color: #bfc1c8;
    position: relative;
    width: 1170px;
    margin: 0 auto;
    letter-spacing: .8px;
    height: 150px;
}
.forecast-table {
    display: flex;
    padding: 0 15px;
    position: absolute;
    transform: translateY(-150px)
}

.table-wrapper {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.today-date {
    display: flex;
    position: relative;
    background-color: #2d303d;
    font-weight: 600;
    width: 420px;
    padding: 10px;
}
.date {
    display: flex;
    position: absolute;
    right: 10px;
}

.forecast-info {
    background-color: #323544;
    padding: 30px 20px;
}

.city{
    font-weight: 600;
    font-size: 16px;
}
#number{
    display: flex;
    color: white;   
    font-size: 90px;
    font-weight: 800;
}
.weatherIcon {
    display: block;
    width: 80px !important;
    height: auto;
}
.curentWeatherIcon {
    display: block;
}
.curent-icon-block {
    display: flex;
}

#umbrella,
#wind,
#compass {
    margin-right: 5px;
}

.day-details {
    display: flex;
    margin-top: 10px;
    height: 20px;
    gap: 20px;
}

#umbrella-icon,
#wind-icon,
#compass-icon {
    display: flex;
}

.forecast {
    background-color: #262936;
    width: 120px;
}

.day {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    justify-content: center;
    padding: 10px 20px;
}

.day-card {
    padding: 50px 20px 10px 20px;
}

.forecast-img {
    display: flex;
    justify-content: center;
}

#max-grade-1,
#max-grade-2,
#max-grade-3,
#max-grade-4,
#max-grade-5,
#max-grade-6{
    display: flex;
    color: white;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 24px;
}

#min-grade-1,
#min-grade-2,
#min-grade-3,
#min-grade-4,
#min-grade-5,
#min-grade-6{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.block {
    font-family: "Roboto", sans-serif;
    padding: 70px 0;
}

.container-live-cameras {
    font-family: "Roboto", sans-serif;
    color: white;
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-text {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 2.6em;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.live-camera-container {
    display: flex;
    gap: 20px;
}

.live-camera {
    position: relative;
}
.first {
    display: flex;
    justify-content: center;
}

#lc {
    border-radius: 10px;
    margin-bottom: 10px;
}

.icon-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fa {
    cursor: pointer;
    color:#262936;
    width: 45px;
    height: 45px;
}

.live-camera-title {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 19px;
    color: white;
    font-weight: 600;
}

.live-camera-date {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #bfc1c8;
}


.description-block {
    background-color:#262936;
    padding: 70px 0;
}

.description-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.sections {
    display: flex;
    gap: 20px;
    color: white;
}

.section {
    width: 390px;
    height: 205px;
    margin: 0 15px;
}

.desc-date {
    font-size: 24px;
    font-weight: 400;
    color: #009ad8;
}
.desc-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.desc-text {
    color: #bfc1c8;
}



/* FEATURES */

.big-container {
    box-sizing: border-box;
    padding: 70px 0;
    color: white;
}
.main-block {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-elements-block {
    display: flex;
    gap: 20px;
}

.block-title {
    font-size: 36px;
    margin-bottom: 20px;
}
.block-elements {
    padding-left: 30px;
}

.text-header {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-weight: 500;
    /* width: 300px;     */
    margin-bottom: 20px;
}

.text-info {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 14px;
    color: #bfc1c8;
    margin-bottom: 10px;

}

.img-block{ 
    position: absolute;
}


.element {
    margin-bottom: 10px;
}
.element-text {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.element-text:hover{
    color: #009ad8;
    transition: .1s linear;
}

#img-block {
    position: absolute;
}

.hr {
    height: 1px;
    width: 360px;
    background-color: #323544;
}

.block-element {
    display: grid;
    /* grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 1fr); */
}

.block-title-t3 {
    /* height: 60px; */
    width: 360px;
    font-size: 36px;
    /* margin-bottom: 10px; */
}

.main-block-b2 {
    display: grid;
    grid-template-columns: repeat(3, 115px);
    grid-template-rows: repeat(3, 76.72px);
    gap: 10px;
}

#awsome-photos-image {
    max-width: 115px;
    cursor: pointer;
}
#awsome-photos-image:hover {
    transition: .3s ease-in-out;
    opacity: .6;
    cursor: pointer;

}


/* FOOTER */


.footer-big-block {
    background-color: #262936;
    height: auto;
}

.footer-main-block {
    width: 1170px;
    margin: 0 auto;
}

.footer-elements {
    box-sizing: border-box;
    font-family: "Roboto",'Open Sans', sans-serif;
}

.footer-container {
    display: flex;
    padding-top: 60px;
}
footer {
    font-family: "Roboto",'Open Sans', sans-serif;
    color: #bfc1c8;
    display: flex;
    justify-content: center;
    /* margin: 40px 0px; */
}

.social-media {
    margin: 0 auto;
    padding-top: 8.5px
}

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
ul {
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0 2px;
}
ul li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
ul li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
ul li a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
ul li:hover a {
    transform: translateY(-10px);
}
ul li a span  {
    width: 100%;
    height: 100%;
}
ul li a span::before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #1e202b;
    color: #fff;
    transform-origin: top;
    transition: transform 0.5s;
}
ul li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
ul li a span::after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
ul li:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
ul li:nth-child(1) a span::before,
ul li:nth-child(1) a span::after {
    content: '\f09a';
}
ul li:nth-child(2) a span::before,
ul li:nth-child(2) a span::after {
    content: '\f099';
}
ul li:nth-child(3) a span::before,
ul li:nth-child(3) a span::after {
    content: '\f0d5';
}
ul li:nth-child(4) a span::before,
ul li:nth-child(4) a span::after {
    content: '\f0e1';
}
ul li:nth-child(1) a span::after {
    background: #3b5999;
    color: #fff;
}
ul li:nth-child(2) a span::after {
    background: #55acce;
    color: #fff;
}
ul li:nth-child(3) a span::after {
    background: #dd4b39;
    color: #fff;
}
ul li:nth-child(4) a span::after {
    background: #0077b5;
    color: #fff;
}



/* HAMBURGER MOBILE*/
.hamburger {
    display: none;
    cursor: pointer;
}


@media(max-width: 768px) {
    .hamburger {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }
    
    /* Stilizare bare hamburger */
    .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin: 6px auto;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }
    
    /* Efect de transformare la click */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav-bar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 400px;
        background-color: #1e202b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav-bar.active {
        left: 0;
    }

    .menu-item {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
    }




    .nav-elements{
        width: 100%;
    }
    .search-container-1 {
        width: 100%;
        justify-content: flex-end !important;
        padding-top: 160px !important;
    }
    .search-container-2 {
        display: none;
    }
    #location-search-large {
        width: 90%;
        height: 3.5rem;
        left: 5%;
    }
    #submit-button {
        margin: auto !important;
        height: 3.5rem;
        right: 22%;
    }
    .table-wrapper {
        flex-direction: column;
    }
    .forecast {
        width: 100%;
    }
    .forecast-table {
        position: relative;
        padding: 0;
        transform: translateY(-50px) !important;
    }
    .forecast-table-wrapper {
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .live-camera-container{
        /* flex-direction: column;
         */
        overflow-y: scroll;
        width: 400px;
        margin: 0 auto;
    }
    #lc {
        width: 400px;
    }
    .container-live-cameras {
        width: 100%;
    }
    .description-container {
        width: 100%;
    }
    .sections {
        flex-direction: column;
    }
    .main-block {
        width: 100%;
    }
    .main-elements-block {
        flex-direction: column;
    }
    .footer-main-block {
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #location-search-small {
        width: auto !important;
        /* position: initial; */
    }
    #submit-small {
        margin: auto;
    }
    .day-card {
        padding: 10px 20px 10px 20px !important;
        flex-direction: row;
        display: flex
    ;
        justify-content: center;
    }
    .degrees {
        margin: auto 0;
    }
    .block {
        padding:0 0 70px  0;
    }
    .main-block-b2 {
        justify-content: center;
    }
    footer {
        padding-bottom: 10px;
    }
    .hat {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .menu-item {
        height: auto;
        /* margin-right: 15px;
        padding-top: 3px;
        margin-top: 4px;
        margin-bottom: 4px; */
        margin: 0 !important;
        padding: 0 !important;
    }
    .banner {
        padding-left: 20px;
    }
}